@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Estilos generales */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.25rem;
  color: var(--dark-two);
  line-height: 1.6;
}

.column-1 {
  margin-right: 1.5rem;
}

.column-2 {
  margin-left: 1.5rem;
}

.image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.z-index {
  position: relative;
  z-index: 2;
}

.section {
  padding: 7rem 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2.8rem;
  margin-bottom: 0.6rem;
}

.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.4rem;
  color: var(--main-color);
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--main-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-header .text {
  max-width: 600px;
  margin: 0 auto;
}

.title-sm {
  color: var(--dark-one);
  font-weight: 600;
  font-size: 1.6rem;
}

.btn {
  display: inline-block;
  padding: 0.85rem 2rem;
  background-color: var(--main-color);
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
  border: none;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.btn.small {
  padding: 0.7rem 1.8rem;
  font-size: 1rem;
}

.btn button {
  border: none;
  background-color: var(--main-color);
}

/* Fin de estilos generales */

/* Estilos shapes background */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.overlay .shape {
  width: initial;
  opacity: 0.3;
  position: absolute;
}

.overlay.overlay-lg .shape {
  height: 55px;
}

.overlay.overlay-lg .shape.wave {
  height: initial;
  width: 88px;
}

.overlay.overlay-lg .shape.xshape {
  height: 38px;
}

.overlay.overlay-sm .shape {
  filter: brightness(0) invert(1);
  opacity: 0.3;
  height: 40px;
}

.overlay.overlay-sm .shape.wave {
  height: initial;
  width: 70px;
}

.overlay.overlay-sm .shape.xshape {
  height: 30px;
}

.points {
  opacity: 0.3;
  position: absolute;
}

.points-sq {
  width: 210px;
}

.services .points1 {
  bottom: -50px;
  left: -125px;
  opacity: 0.3;
  pointer-events: none;
}

.services .points2 {
  bottom: -70px;
  right: -65px;
  opacity: 0.3;
  pointer-events: none;
}

header .points1 {
  width: 420px;
  bottom: -75px;
  left: -150px;
}

header .points2 {
  width: 70%;
  top: 65%;
  left: 71%;
}

.blog .points {
  top: 80%;
  right: 71%;
  opacity: 0.3;
}

.about .points {
  width: 300px;
  top: 65%;
  left: 80%;
  opacity: 0.3;
}

header .half-circle1 {
  left: 50%;
  bottom: 82%;
}

header .half-circle2 {
  left: 5%;
  top: 67%;
}

header .circle {
  left: 38%;
  bottom: 63%;
}

.portfolio .circle {
  top: 8%;
  right: 35%;
}

.portfolio .half-circle1 {
  bottom: 13%;
  left: 5%;
}

.portfolio .half-circle2 {
  top: 35%;
  right: 20%;
}

.records .circle {
  left: 7%;
  bottom: 50px;
}

.records .half-circle {
  top: 30px;
  right: 50%;
}

header .square {
  right: 68%;
  top: 71%;
}

.portfolio .square {
  top: 28%;
  left: 20%;
}

.records .square1 {
  left: 8%;
  top: 10%;
}

.records .square2 {
  right: 90px;
  bottom: 70px;
}

header .triangle {
  right: 7%;
  bottom: 75%;
}

.portfolio .triangle {
  bottom: 10%;
  right: 4%;
}

.records .triangle {
  left: 65%;
  bottom: 35px;
}

header .wave1 {
  bottom: 75%;
  left: 20%;
}

header .wave2 {
  bottom: 8%;
  right: 55%;
}

.portfolio .wave {
  top: 38%;
  left: 6%;
}

.records .wave1 {
  top: 35px;
  right: 30%;
}

.records .wave2 {
  bottom: 40px;
  left: 28%;
}

header .xshape {
  right: 4%;
  bottom: 50%;
}

.portfolio .xshape {
  top: 10%;
  right: 8%;
}

.records .xshape {
  top: 45px;
  right: 120px;
}

/* Fin de estilos shapes background */
